In [2]:
import numpy as np

In [3]:
import pandas as pd

In [6]:
labels = ['a', 'b', 'c']
my_data = [10, 20 ,30]

arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=[len,sum,print])

0      <built-in function len>
1      <built-in function sum>
2    <built-in function print>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4,], ['USA',"GErmany","USSR",'JAPAN'])

In [19]:
ser1

USA        1
GErmany    2
USSR       3
JAPAN      4
dtype: int64

In [22]:
ser1['USA']

1

In [20]:
ser2 = pd.Series(['USA',"GErmany","USSR",'JAPAN'],[1,2,3,4,])

In [21]:
ser2

1        USA
2    GErmany
3       USSR
4      JAPAN
dtype: object

In [23]:
ser3 = pd.Series(data=labels)

In [24]:
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[0]

'a'

In [26]:
ser1 + ser2

1          NaN
2          NaN
3          NaN
4          NaN
GErmany    NaN
JAPAN      NaN
USA        NaN
USSR       NaN
dtype: object